@charset "utf-8";
/* CSS Document */

/* Page Elements*/
/* controls the styling for the body tag*/
body {
	margin: 0px; /* sets a default of zero to the right, bottom and left margins */
	margin-top: 10px; /* sets a margin of ten pixels to the top of the body element*/
	font-family: Arial, Helvetica, sans-serif; /* sets the default fonts for the page*/
	min-width: 1280px;
}

/* I have included styling for printer friendly views, the @media print controls the styling of the print view and the @media screen controls the view in the browser*/
@media print {
body {
	min-width: 100%;
}
}
/* controls the styling for anything contained within the header <div>*/
div.header {
	height: 30px;
}
@media print {
div.header {
	display: none;
}
}
/* controls the styling for anything contained within the authenticateForm <div>*/
@media screen {
#clock {
	position: absolute;
	top: 0px;
	right: 20px;
}
div.authenticateForm {
	width: 720px; /* sets the width of the container to 720 pixels*/
	margin-left: auto;
	margin-right: auto; /* by setting the left and right margins to 'auto' it centres the content*/
	text-align: right; /*aligns the text to the right of the container*/
	font-size: .7em; /* sets the font to a size of .7em. I use the 'em' unit of measurement to allow for greater scalability within the browser and on devices*/
}
}
@media print {
	div.authenticateForm {
		display:none;
	}
}
.clear {
	clear: both; /* creates a class to reset any floated elements*/
}
a {
	text-decoration: none; /* re-styles the links in the document*/
	color: #000;
}
a:hover { /* re-styles the links in the document when the cursor is hovering over them*/
	text-decoration: none;
	color: #F60;
}
a:visited { /* re-styles the links in the document once they have been visited*/
	text-decoration: none;
	color: #606;
}
@media screen {
div.left-col { /* controls the styling of anything contained within the left-col <div>, so anything in the left hand column*/
	width: 200px;
	float: left;
}
div.content-col { /* controls the styling of anything contained within thecontent-col <div>, so anything in the centre column*/
	margin-left: 200px;
	margin-right: 275px;
	min-width: 800px;
	display: block;
}
div.content-col:after { /* after this element apply the following rule*/
	clear:both;
}
div.right-col {/* controls the styling of anything contained within the right-col <div>, so anything in the right hand column*/
	width: 275px;
	float: right;
}
}
 @media print {
div.left-col { /* controls the styling of anything contained within the left-col <div>, so anything in the left hand column*/
	display: none;
}
div.content-col { /* controls the styling of anything contained within thecontent-col <div>, so anything in the centre column*/
	width: 100%;
	display: block;
}
div.right-col {/* controls the styling of anything contained within the right-col <div>, so anything in the right hand column*/
	display:none;
}
}
div.floatL { /* floats a div container left*/
	float: left;
}
 @media screen {
div.navigation { /* controls the styling of anything contained within the navigation <div>*/
	margin-left: auto;
	margin-right: auto;  /* by setting the left and right margins to 'auto' it centres the content*/
	margin-bottom: 10px; /* allows for 10 pixels at the bottom of the navigation container*/
	width: 700px;  /*sets the navigation container to 700 pixels*/
	height: 10px;  /* gives the navigation container a width of 10 pixels*/
	font-weight: bold;  /* overrides the default font weight and makes the text in the navigation bold*/
	font-size: .9em; /* sets the font to a size of .9em. I use the 'em' unit of measurement to allow for greater scalability within the browser and on devices*/
}
div.navigation span { /* controls the styling of all spans inside the navigation <div>*/
	padding-left: 20px;
	padding-right: 20px;
	float: left;/* adds 20 pixels padding to the left and right of the bar seperating navigation links and has the dividers float left*/
}
div.navigation div {
	float: left; /* floats all divs contained within the navigation <div> left*/
}
}
@media print {
div.navigation {
	display: none;
}
}
div.specialOffer {/* controls the style of the text in the <div> called specialOffer*/
	color: #F60; /* changes the colour from the default to orange*/
	font-weight: bold;/* changes the colour from the default weight to bold*/
}
div.discount { /* controls the style of the text in the discount <div>*/
	color: #F60;/* changes the colour from the default to orange*/
	font-weight: bold;/* changes the colour from the default weight to bold*/
}
/* Sidebar Elements*/

/* Twitter Feed*/

div.twitterFeed {/* controls the style of the <div> container twitterFeed*/
	margin-left: 10px;
	margin-right: 10px;/* adds a margin of 10 pixels to the left and right of the widget*/
}
/* Image Elements - styles the images in the document*/	

img {
	border: 0px;
}
/* Text Elements styles the text elements in the document*/	
		
h2 { /* controls the syle of all <h2> tags in the document*/
	font-weight: bold;  /*changes from the default font weight to bold*/
	font-size: 1em;  /* changes the default font size to 1em*/
}
h3 {/* controls the syle of all <h3> tags in the document*/
	font-weight: bold;/*changes from the default font weight to bold*/
	font-size: .8em;/* changes the default font size to .8em*/
}
/*leftCol Elements - controls all of the elements contained within the left hand column*/	

	
div.socialMediaIcons { /*styles the social media buttons: twitter, facebook, vimeo*/
	margin-left: 10px; /*adds 20 pixels tot he left of each icon*/
}
/*Slideshow Elements*/	
	
div.banner { /*controls the styling of anything contained inside the banner <div>*/
	position: relative; /*sets the position of the banner relative to its parent*/
	margin-left: auto;
	margin-right: auto; /*centres the banner on the centre column*/
	width: 780px;
	height: 480px; /*sets the height and width of the banner*/
}
div.banner div.link { /*controls the styling of the <div> link inside the banner <div>. This is the gret box floating inside the image with the product information*/
	position: absolute;	/*sets the postiion of the box as absolute to the parent*/
	top: 10px; /*Set the top edge of the box to 10 pixels below the top edge of the containing element*/
	left: 25px; /*Set the top edge of the box to 25 pixels below the left edge of the containing element*/
	max-width: 175px;  /*sets the maximum width of the element to 175 pixels*/
	background-color: #999999;  /*changes the background image to gray*/
	-moz-border-radius: 5px; /*mozilla standard for border radius - to put a radiused edge of 5 pixels on the object*/
	-webkit-border-radius: 5px; /*safari standard for border radius - to put a radiused edge of 5 pixels on the object*/
	-khtml-border-radius: 5px;	/*safari /google chrome standard for border radius - to put a radiused edge of 5 pixels on the object*/
	border-radius: 5px;/*IE standard for border radius - to put a radiused edge of 5 pixels on the object*/
	margin-left: 10px; /*sets the left margin of the box to 10 pixels*/
	padding-left: 10px; /*sets a further 10 pixels padding to the left inside the box*/
	float: left; /*floats the box left*/
	width: 175px; /*sets the overall width of the box to 175 pixels*/
	color: #FFFFFF; /*sets the font colour to white*/
	font-family:Arial, Helvetica, sans-serif; /*sets the font*/
}
/*styles the previous and next buttons */	
 	
div.banner div.previousButton {
	margin-top: 237px; /*sets the the top margin of the previous button to 237 pixels (half the height of the main image) */
	float: left;/*floats the arrow image left*/
	width: 25px;/*sets the width to 25 pixels*/
}
div.banner div.nextButton {
	margin-top: 237px;/*sets the the top margin of the next button to 237 pixels (half the height of the main image) */
	float: right;/*floats the arrow image right*/
	width: 25px;/*sets the width to 25 pixels*/
}

div.banner a{
	color:	#FFF; /*overrides the default <a> styles and changes the font colour to white*/
	}

/* Intro Elements*/	

div.introText {
	font-family: Arial, Helvetica, sans-serif; /* sets the font*/
	font-size: .9em; /* sets the font size to .9em*/
	margin-left: auto;
	margin-right: auto;/* centres the text inside the container*/
	width: 720px; /* sets the overall width to 720 pixels*/
}
/* Store Elements - controls the styling for all of the elements on the store page*/	


div.teeShirtIcons {/*styles the <div> container teeShirtIcons*/
	margin-left: 50px; /* sets a the left hand margin to 50 pixels to the edge of the parent container*/
}
div.product { /*styles the product images*/
	float: left; /*floats the images to the left*/
	width: 180px;/*sets the width of the container to 200 pixels*/
	margin-left: 15px;/* sets a left margin of 15 pixels to seperate each image*/
}
@media screen {
div.product { /*styles the product images*/
	margin-top: 150px; /*sets a top margin of 150 pixels*/
}
}
@media print {
div.product { /*styles the product images*/
	margin-top: 0px; /*sets a top margin of 0 pixels*/
}
}
div.description { /*styles the text of the product description*/
	width: 160px; /*sets the width of the container to 160 pixels*/
}
div.selectSize { /*styles the text above the drop down menu to select the t-short size*/
	font-size: .9em; /*sets font size to .9em*/
	font-weight: bold; /*changes from the default font weight to bold*/
	margin-top: 5px; /*gives the container a top margin of 5 pixels*/
}
div.name { /*styles the contents of the name <div>*/
	font-size: 1.2em; /*sets font size to 1.2em*/
	font-weight: bold; /*changes from the default font weight to bold*/
}
div.overlay { /*when an image is clicked on, an overlay is applied to overshadow the rest of the page and highlight the larger image (zoomed in view). This conrtols the styling of that overlay*/
	background-color: #000000; /*sets the background colour to black*/
	left: 0; /*Set the left edge of the image zero, the very edge of the window*/
	opacity: 0.6; /*ssets the pacity to 0.6 so the user can still partially see the rest of the images in the background*/
	position: absolute; /*sets the image of the overlay to absolute <div>*/
	top: 0; /*Set the top edge of the image zero, the very edge of the window*/
	z-index: 100; /*Set the z-index to 100 which places on top of items with a lower stack order. By default all objects have the same z-index of auto*/
}
div.zoomImage { /*controls the styling of larger product images*/
	background: none repeat scroll 0 0 #FFFFFF; /*sets no background on the image*/
	border: 4px solid #525252; /*sets a gray border of 4 pixels around the image */
	color: #000000; /*sets the colour to black*/
	position: absolute; /*sets the images position to absolute*/
	text-align: left;
	z-index: 102; /*sets the z-index to two above the background in the stack order*/
	top: 50%; /*sets the top edge of the container to 50% of its parent container*/
	width: 303px;
	height: 351px;/*sets the overall width and height of the container*/
}
/*Shopping Carts*/	
	
#addCart {/* styles the add to cart button*/
	margin-top: 10px; /*sets the top margin of the button to 10 pixels to give it some space from the rest of the product information*/
}
@media screen {
#PPMiniCart { /*styles the PayPal minicart*/
	height: 50px;/*sets the overall height of the container*/
}
}
@media print {
#PPMiniCart { /*styles the PayPal minicart*/
	display: none !important; /* Hides the cart for printing */
}
}
/* FAQ Elements*/	
@media screen {
div.faq {/*styles the FAQ container*/
	float: left; /*floats the faq <div> to the left*/
	width: 700px; /*sets the overall width of the container*/
	margin-top: 50px; /*gives the <div> a top margin of 50 pixels*/
	margin-left: 120px; /*sets the left hand margin to 120 pixels*/
}
}
@media print {
div.faq {/*styles the FAQ container*/
	float: left; /*floats the faq <div> to the left*/
	width: 100%; /*sets the overall width of the container*/
	margin-top: 0px; /*gives the <div> a top margin of 0 pixels*/
	margin-left: 0px; /*sets the left hand margin to 0 pixels*/
}
}
/* Contact Elements - controls the elements on the contact page*/
	
div.contactInfo { /*styles the contact information in the right hand column*/
	float: left; /*floats the containter left*/
	margin-top: 100px; /*sets the top margin to 100 pixels*/
	width: 300px;/*sets the overall wifth to 300 pixels*/
}
div.contactForm { /*controls the styling for the contact form*/
	float: left; /*floats the containter left*/
	margin-top: 50px; /*sets the top margin to 50 pixels*/
	width: 500px;/*sets the width to 500 pixels*/
	margin-bottom: 50px; /*sets the bottom margin to 50 pixels*/
}
div.contactForm div.contactEmail { /*sets the top margin to 20 pixels - puts 20 pixels bewteen each field*/
	margin-top: 20px;
}
div.contactForm div.contactAddress {/*sets the top margin to 20 pixels - puts 20 pixels bewteen each field*/
	margin-top: 20px;
}
div.contactForm div.contactCounty {/*sets the top margin to 20 pixels - puts 20 pixels bewteen each field*/
	margin-top: 20px;
}
div.contactForm div.contactCity {/*sets the top margin to 20 pixels - puts 20 pixels bewteen each field*/
	margin-top: 20px;
}
div.contactForm div.contactCountry {/*sets the top margin to 20 pixels - puts 20 pixels bewteen each field*/
	margin-top: 20px;
}
div.contactForm div.enquiryField {/*sets the top margin to 20 pixels - puts 20 pixels bewteen each field*/
	margin-top: 20px;
}
div.contactForm form { /*controls the styling for the contact form*/
	width: 400px; /*sets the width to 400 pixels*/
	background-color: #999999; /*sets the background colour to grey*/
	-moz-border-radius: 5px; /*mozilla standard for border radius - to put a radiused edge of 5 pixels on the object*/
	-webkit-border-radius: 5px; /*safari standard for border radius - to put a radiused edge of 5 pixels on the object*/
	-khtml-border-radius: 5px;	/*safari /google chrome standard for border radius - to put a radiused edge of 5 pixels on the object*/
	border-radius: 5px;/*IE standard for border radius - to put a radiused edge of 5 pixels on the object*/
	padding: 15px;  /*sets the padding to 15 pixels inside the box*/
}
div.contactForm form div input { /*styles the input elements*/
	float: right;  /*floats the input elements right*/
	width: 150px;  /*sets the width of the input elements to 150 pixels*/
}
div.contactForm form div.submitButton input {/*styles the input  elements inside the <div> submitButton*/
	float: right;/*floats the submit button right*/
}
div.submitButton {/* styles the <div> that contains the submit button */
	margin-top: 10px; /* adds a top margin of 10 pixels */
	margin-left: 50px;/* adds a left margin of 50 pixels */
}
div.contactForm form div.enquiryField:after {/*applies the following styles after the enquiry field <div>*/
	clear: both; /*creates a class to reset any floated elements */
}
div.contactForm form div select { /*sets the styles for any select control*/
	float: right; /*floats the select element right  */
	width: 156px;/* sets the width of the select element to 150 pixels */
}
div.contactForm form div textarea { /*controls the styles for the text area within the contactForm <div>*/
	width: 395px;/* sets the width of the select element to 395 pixels */
}

div.mailingList{
	font-size: .9em;/* changes from the default fornt size to .9em */
	}
div.mailingList input{
	width: 25px !important;/* overrides the width specified by the input style so that the mailing list checkbox and submit button align */
}

/* Gallery Elements - controls the styling of all elements on the gallery page*/

	div.gallery { /*controls the styling of all elements inside the gallery <div>*/
	float: left; /*floats the container left*/
	margin-top: 50px; /*gives the container a top margin of 50 pixels*/
	margin-left: 100px; /*gives the container a left margin of 50 pixels*/
}
div.gallery div.galleryImg { /*controls the styling of all elements inside the galleryImg <div>*/
	float: left; /*floats each image to the left*/
	margin-left: 10px; /*sets a margin left of 10 pixels on each container*/
}
div.zoomGalleryImage { /*controls the styling of all elements inside the zoomGalleryImage <div>*/
	background: none repeat scroll 0 0 #FFFFFF;  /*sets no background on the image*/
	border: 4px solid #525252; /*sets a gray border of 4 pixels around the image */
	color: #000000; /*sets the colour to black*/
	position: absolute; /*sets the images position to absolute*/
	text-align: left; /*aligns the text description on the "zoomed in" image to the left of the image*/
	z-index: 102; /*sets the z-index to two above the background in the stack order*/
	width: 303px;
	height: 351px;/*sets the overall width and height of the container*/
}
